.btn:focus{
    outline:0 none !important;
}
.btn:active{
    outline: 0 none !important;
}

.btn-dark{
    background-color:#28587B; 
    color: #FCFCFC;
    border-color: #28587B;
}
.btn-dark:hover{
    background-color: #BEEE62;
    border-color: #BEEE62;
}

.btn-danger{
    background-color: #EF476F;
    color: #FCFCFC;
    border-color: #EF476F;
    border-radius: 15px;
}

.btn-outline-secondary{
    color: #28587B;
    border-color: #28587B;
}
.btn-outline-secondary:hover{
    color:#FCFCFC;
    background-color: #28587B;
}

.btn-outline-dark{
    color:#BEEE62 !important;
    border-color: #BEEE62 !important;
   
}
.btn-outline-dark:hover{
    background-color: #BEEE62 !important;
    color: #28587B !important; 
    border-color: #28587B !important;
}

.form-control{
    border-color: #28587B;
    background-color: #28587B;
    border-radius: 15px !important;
}

hr{
    border-color: #BEEE62;
}


.dropdown-menu{
    background-color: #28587B;
}
.dropdown-item{
    color:#BEEE62 !important;
    background-color: #28587B;
}
.dropdown-item:hover{
    background-color: #BEEE62 !important;
    color:#28587B !important;
  
}

.btn-primary{
    background-color: #BEEE62;
    color:#28587B;
    border-color: #BEEE62;
    border-radius: 15px;
}
.btn-primary:hover{
    background-color: #28587B;
    color:#BEEE62;
    border-color: #28587B
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background-color: #28587B !important;
    color:#BEEE62 !important;
    border-color: #28587B !important;
    outline: 0 none !important;
    outline-color: #BEEE62 !important;
    box-shadow: #BEEE62 !important;

}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .input-group-text{
     background-color: #28587B;
     color:#FCFCFC;
     border-color: #28587B;
     border-radius: 15px !important;
 }

 .text-center{
     color:#28587B;
 }

 .btn-outline-primary{
     color:#28587B;
     border-color: #BEEE62;
     background-color: #BEEE62;
     border-radius: 15px;
 }
 .btn-outline-primary:hover{
    color:#BEEE62;
    border-color: #28587B;
    background-color: #28587B;
}

 .btn-primary:disabled{
    background-color: #BEEE62 !important;
    color:#28587B !important;
    border-color: #BEEE62 !important;
    border-radius: 5px !important;
    opacity: 0.6 !important;
 }

 .btn-outline-primary:disabled{

    color:#28587B !important;
    border-color: #BEEE62 !important;
    border-radius: 5px !important;
    opacity: 0.6 !important;
 }

h6{
    color: #BEEE62 !important;
} 
h5{
    color: #BEEE62 !important;
}
h4{
    color: #BEEE62 !important;
}
h3{
    color:#BEEE62 !important;
}
h1{
    color:#BEEE62 !important;
}
p{
    color: #BEEE62 !important;
}

#navbar_p_cama{
    position: relative;
    top:5px;

}

.btn-outline-success:hover{
    background-color: #BEEE62;
    color:#28587B !important;
}
.btn-outline-success:focus{
    background-color: #BEEE62 !important;
    color:#28587B !important;
}
.btn-outline-success:active{
    background-color: #BEEE62 !important;
    color:#28587B !important;
}

.dropdown-menu{
    border-radius: 10px;
}

#fb_button{
    animation: wobble linear 0.8s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    -webkit-animation: wobble linear 0.8s;
    -webkit-animation-iteration-count: 2;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: wobble linear 0.8s;
    -moz-animation-iteration-count: 2;
    -moz-transform-origin: 50% 50%;
    -o-animation: wobble linear 0.8s;
    -o-animation-iteration-count: 2;
    -o-transform-origin: 50% 50%;
    -ms-animation: wobble linear 0.8s;
    -ms-animation-iteration-count: 2;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes wobble{
    0% {
      transform:  translate(0px,0px)  ;
    }
    15% {
      transform:  translate(0px,-25px)  ;
    }
    30% {
      transform:  translate(0px,0px)  ;
    }
    45% {
      transform:  translate(0px,-15px)  ;
    }
    60% {
      transform:  translate(0px,0px)  ;
    }
    75% {
      transform:  translate(0px,-5px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes wobble{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    15% {
      -moz-transform:  translate(0px,-25px)  ;
    }
    30% {
      -moz-transform:  translate(0px,0px)  ;
    }
    45% {
      -moz-transform:  translate(0px,-15px)  ;
    }
    60% {
      -moz-transform:  translate(0px,0px)  ;
    }
    75% {
      -moz-transform:  translate(0px,-5px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes wobble {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    15% {
      -webkit-transform:  translate(0px,-25px)  ;
    }
    30% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    45% {
      -webkit-transform:  translate(0px,-15px)  ;
    }
    60% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    75% {
      -webkit-transform:  translate(0px,-5px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes wobble {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    15% {
      -o-transform:  translate(0px,-25px)  ;
    }
    30% {
      -o-transform:  translate(0px,0px)  ;
    }
    45% {
      -o-transform:  translate(0px,-15px)  ;
    }
    60% {
      -o-transform:  translate(0px,0px)  ;
    }
    75% {
      -o-transform:  translate(0px,-5px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes wobble {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    15% {
      -ms-transform:  translate(0px,-25px)  ;
    }
    30% {
      -ms-transform:  translate(0px,0px)  ;
    }
    45% {
      -ms-transform:  translate(0px,-15px)  ;
    }
    60% {
      -ms-transform:  translate(0px,0px)  ;
    }
    75% {
      -ms-transform:  translate(0px,-5px)  ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  ;
    }
  }

  #insta_button{
    animation: wobble linear 0.8s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    -webkit-animation: wobble linear 0.8s;
    -webkit-animation-iteration-count: 2;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: wobble linear 0.8s;
    -moz-animation-iteration-count: 2;
    -moz-transform-origin: 50% 50%;
    -o-animation: wobble linear 0.8s;
    -o-animation-iteration-count: 2;
    -o-transform-origin: 50% 50%;
    -ms-animation: wobble linear 0.8s;
    -ms-animation-iteration-count: 2;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes wobble{
    0% {
      transform:  translate(0px,0px)  ;
    }
    15% {
      transform:  translate(0px,-25px)  ;
    }
    30% {
      transform:  translate(0px,0px)  ;
    }
    45% {
      transform:  translate(0px,-15px)  ;
    }
    60% {
      transform:  translate(0px,0px)  ;
    }
    75% {
      transform:  translate(0px,-5px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes wobble{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    15% {
      -moz-transform:  translate(0px,-25px)  ;
    }
    30% {
      -moz-transform:  translate(0px,0px)  ;
    }
    45% {
      -moz-transform:  translate(0px,-15px)  ;
    }
    60% {
      -moz-transform:  translate(0px,0px)  ;
    }
    75% {
      -moz-transform:  translate(0px,-5px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes wobble {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    15% {
      -webkit-transform:  translate(0px,-25px)  ;
    }
    30% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    45% {
      -webkit-transform:  translate(0px,-15px)  ;
    }
    60% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    75% {
      -webkit-transform:  translate(0px,-5px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes wobble {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    15% {
      -o-transform:  translate(0px,-25px)  ;
    }
    30% {
      -o-transform:  translate(0px,0px)  ;
    }
    45% {
      -o-transform:  translate(0px,-15px)  ;
    }
    60% {
      -o-transform:  translate(0px,0px)  ;
    }
    75% {
      -o-transform:  translate(0px,-5px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes wobble {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    15% {
      -ms-transform:  translate(0px,-25px)  ;
    }
    30% {
      -ms-transform:  translate(0px,0px)  ;
    }
    45% {
      -ms-transform:  translate(0px,-15px)  ;
    }
    60% {
      -ms-transform:  translate(0px,0px)  ;
    }
    75% {
      -ms-transform:  translate(0px,-5px)  ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  ;
    }
  }

  #evolu{
    animation: getin ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: getin ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: getin ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: getin ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: getin ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  
  @keyframes getin{
    0% {
      opacity:0;
      transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      transform:  translate(30px,0px)  ;
    }
    80% {
      transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes getin{
    0% {
      opacity:0;
      -moz-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -moz-transform:  translate(30px,0px)  ;
    }
    80% {
      -moz-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes getin {
    0% {
      opacity:0;
      -webkit-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -webkit-transform:  translate(30px,0px)  ;
    }
    80% {
      -webkit-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes getin {
    0% {
      opacity:0;
      -o-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -o-transform:  translate(30px,0px)  ;
    }
    80% {
      -o-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes getin {
    0% {
      opacity:0;
      -ms-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -ms-transform:  translate(30px,0px)  ;
    }
    80% {
      -ms-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
    }
  }