.btn-dark{
    background-color:#28587B; 
    color: #FCFCFC;
    border-color: #28587B;
}
.btn-dark:hover{
    background-color: #BEEE62;
    border-color: #BEEE62;
}

.btn-danger{
    background-color: #EF476F;
    color: #FCFCFC;
    border-color: #EF476F;
}

.btn-outline-secondary{
    color: #28587B;
    border-color: #28587B;
}
.btn-outline-secondary:hover{
    color:#FCFCFC;
    background-color: #28587B;
}

.btn-outline-dark{
    color:#28587B;
    border-color: #28587B;
}
.btn-outline-dark:hover{
    background-color: #EF476F !important;
    color: #FCFCFC !important; 
    border-color: #EF476F;
}

.form-control{
    border-color: #28587B;
    background-color: #FCFCFC;
}

.hr{
    border-color: #28587B;
}

.dropdown-item:hover{
    background-color: #BEEE62;
  
}

.btn-primary{
    background-color: #BEEE62;
    color:#28587B;
    border-color: #BEEE62;
    border-radius: 15px;
}
.btn-primary:hover{
    background-color: #28587B;
    color:#BEEE62;
    border-color: #28587B
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background-color: #28587B !important;
    color:#BEEE62 !important;
    border-color: #28587B !important;
    outline: 0 none !important;
    outline-color: #BEEE62 !important;
    box-shadow: #BEEE62 !important;

}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .input-group-text{
     background-color: #28587B;
     color:#FCFCFC;
     border-color: #28587B;
 }

 .text-center{
     color:#28587B !important;
 }

 .btn-outline-primary{
     color:#28587B;
     border-color: #BEEE62;
     background-color: #BEEE62;
 }
 .btn-outline-primary:hover{
    color:#BEEE62;
    border-color: #28587B;
    background-color: #28587B;
}

 .btn-primary:disabled{
    background-color: #BEEE62 !important;
    color:#28587B !important;
    border-color: #BEEE62 !important;
    border-radius: 5px !important;
    opacity: 0.6 !important;
 }

 .btn-outline-primary:disabled{

    color:#28587B !important;
    border-color: #BEEE62 !important;
    border-radius: 5px !important;
    opacity: 0.6 !important;
 }

 .card{
     background-color: #FCFCFC !important;
     border-color: #FCFCFC !important;
 }

 .btn-outline-success:hover{
     background-color: #BEEE62;
     color: #28587B !important;
     border-color: #BEEE62;
 }
