body{
    font-family: 'Roboto', sans-serif;
}


.btn:focus{
    outline:0 none !important;
}
.btn:active{
    outline: 0 none !important;
}

.btn-dark{
    background-color:#28587B; 
    color: #BEEE62;
    border-color: #28587B;
}
.btn-dark:hover{
    background-color: #BEEE62;
    border-color: #BEEE62;
}

.btn-danger{
    background-color: #EF476F;
    color: #FCFCFC;
    border-color: #EF476F;
    border-radius: 15px;
}

.balcenter_buts{
    position: relative;
    margin: auto;
    left: 0%;
}

h5{
    color: #BEEE62;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:focus{
    color: #28587B;
    border-color: #28587B;
}
.btn-outline-secondary:hover{
    color:#FCFCFC;
    background-color: #28587B;
}

.btn-outline-dark{
    color:#28587B;
    border-color: #28587B;
   
}
.btn-outline-dark:hover{
    background-color: #28587B !important;
    color: #FCFCFC; 
    border-color: #28587B !important;
}

.bg-primary{
    background-color: #28587B !important;
}

.form-control{
    border-color: #28587B;
    background-color: #FCFCFC;
    border-radius: 15px;
    color: #28587B;
        
}

.hr{
    border-color: #28587B;
}

::placeholder {
    color: blue;
    font-size: 0.9em;
}

.text-white{
    color: #BEEE62 !important;
}

.dropdown-menu{
    background-color: #28587B !important;
       
}
.dropdown-item{
    color:#BEEE62 !important;
 
    -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes flipInX {
  0% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
  }
  @keyframes flipInX {
  0% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
    
}
.dropdown-item:hover{
    background-color: #BEEE62 !important;
    color:#28587B !important;
  
}

.btn-primary{
    background-color: #BEEE62;
    color:#28587B;
    border-color: #BEEE62;
    border-radius: 15px;
}
.btn-primary:hover{
    background-color: #28587B;
    color:#BEEE62;
    border-color: #28587B
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background-color: #28587B !important;
    color:#BEEE62 !important;
    border-color: #28587B !important;
    outline: 0 none !important;
    outline-color: #BEEE62 !important;
    box-shadow: #BEEE62 !important;

}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .input-group-text{
     background-color: #28587B;
     color:#FCFCFC;
     border-color: #28587B;
     border-radius: 15px !important;
 }

 .text-center{
     color:#28587B;
 }

 .btn-outline-primary{
     color:#28587B;
     border-color: #BEEE62;
     background-color: #BEEE62;
     border-radius: 15px;
 }
 .btn-outline-primary:hover{
    color:#BEEE62;
    border-color: #28587B;
    background-color: #28587B;
}

 .btn-primary:disabled{
    background-color: #BEEE62 !important;
    color:#28587B !important;
    border-color: #BEEE62 !important;
    border-radius: 5px !important;
    opacity: 0.6 !important;
 }

 .btn-outline-primary:disabled{

    color:#28587B !important;
    border-color: #BEEE62 !important;
    border-radius: 5px !important;
    opacity: 0.6 !important;
 }

 .splash{
     background-color: #28587B;
     z-index: 1;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }

.logo{

    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;

}

#pesokg{
    position: relative;
    left:47%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-header{
    border-radius: 0px;
}

.text-primary{
    color: #28587B !important;
}

.logo_spin1 {
    
    height:20%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
 
    -webkit-animation:spin 0.8s linear infinite;
    -moz-animation:spin 0.8s linear infinite;
    animation:spin 0.8s linear infinite;

}
.logo_spin2{
    
    height:10%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
 
    -webkit-animation:spin 0.8s linear infinite;
    -moz-animation:spin 0.8s linear infinite;
    animation:spin 0.8s linear infinite;
}
.logo_spin3{
    
    height:5%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
 
    -webkit-animation:spin 0.8s linear infinite;
    -moz-animation:spin 0.8s linear infinite;
    animation:spin 0.8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


h4{
    color: #28587B;
}

#navbar_p_cama{
    position: relative;
    top:5px;

}

.btn:focus {
    outline: none;
}

.p_adder{
    background-color: #28587B;
    color: #BEEE62;
}

.p_adder:active, .p_adder:focus, .p_adder:active:focus{
    background-color: #28587B !important;
    color: #BEEE62 !important;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BEEE62 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #BEEE62;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #BEEE62;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #BEEE62;
  }



.btn-outline-success:hover{
    background-color: #BEEE62;
    color:#28587B !important;
}
.btn-outline-success:focus{
    background-color: #BEEE62 !important;
    color:#28587B !important;
}
.btn-outline-success:active{
    background-color: #BEEE62 !important;
    color:#28587B !important;
}

.dropdown-menu{
    border-radius: 10px;
}

/*animaciones de los pacientes*/

#camas_data{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
